**/*.env
**/*episode_logs_gpt2_pgsrm.jsonl
**/*episode_logs_gpt2_binary.jsonl
**/*numberbatch-en-19.08.txt
**/*numberbatch-en-19.08.txt.gz
wandb/
**/wandb/
analyze_data.ipynb
venv/

research_data/

**/.DS_Store
.DS_Store